<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>{% block title %}EduTrack{% endblock %}</title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />

  {% block extra_css %}{% endblock %}
</head>

<body>

  <!-- ===== Navbar ===== -->
  <div class="navbar">
    <a href="{% url 'role_redirect' %}" class="navbar-logo">
      EDUTRACK
    </a>

    <div class="navbar-right">
      {% if user.is_authenticated %}
      <span class="navbar-user">
        {{ user.username }}
      </span>

      <form method="post" action="{% url 'logout' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-back">
          Logout
        </button>
      </form> {% endif %}
    </div>
  </div>

  <!-- ===== Main Container ===== -->
  <div class="container">
    {% block content %}{% endblock %}
  </div>

</body>

</html>