{% extends "base.html" %}
{% block content %}

<div class="dashboard">
    <div class="card">
        <h1>📘 {{ course.title }}</h1>
        <hr />
        <h2>📚 Lessons</h2>

        {% if course.lessons.exists %}
        <ul>
            {% for lesson in course.lessons.all %}
            <li>
                <strong>{{ lesson.title }}</strong><br />
                {{ lesson.description }}

                <video width="640" controls>
                    <source src="{{ lesson.video.url }}">
                    Your browser does not support video.
                </video>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No lessons yet.</p>
        {% endif %}

        {% if request.user == course.instructor %}
        <a href="{% url 'create_lesson' course.id %}">
            ➕ Add lesson
        </a>
        {% endif %}

        <p class="muted">
            Instructor: {{ course.instructor.username }}
        </p>

        <hr />

        <p>{{ course.description }}</p>
    </div>

    <br>

    <div class="card">
        <h2>📝 Assignments</h2>

        {% if assignments %}
        <ul class="list">
            {% for assignment in assignments %}
            <li>
                <a href="{% url 'assignment_detail' assignment.id %}">
                    <strong>{{ assignment.title }}</strong>
                </a>
                <small>
                    Due {{ assignment.due_date|date:"M d, Y" }}
                </small>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="muted">No assignments yet.</p>
        {% endif %}

        <br>
        {% if user.profile.role == user.profile.Role.STUDENT %}
        <form method="post" action="{% url 'leave_course' course.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">
                🚪 Leave Course
            </button>
        </form>
        {% endif %}

    </div>
    <br>
    {% if user.profile.role == user.profile.Role.INSTRUCTOR %}
    <a href="{% url 'create_assignment' course.id %}" class="btn">
        ➕ Create Assignment
    </a>
    {% endif %}
    <br>
    <br>
    <a href="{% url 'role_redirect' %}" class="btn">
        ← Back to dashboard
    </a>
</div>

{% endblock %}