name: EduTrack CI

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build containers
        run: docker compose build

      - name: Run tests (SQLite, CI mode)
        run: docker compose run --rm -e CI=true web python manage.py test

env:
  DEBUG: "False"
  SECRET_KEY: dummy-secret
  DB_NAME: edutrack
  DB_USER: edutrack_user
  DB_PASSWORD: password
  DB_HOST: db
  DB_PORT: 5432